<div class="card">
  <h3 class="card-header">{{timerTitle}}</h3>
  <div class="card-content">
    <div *ngIf="currentState === READY">
      <h1 class="text-center">--:--.--</h1>
    </div>
    <div *ngIf="currentState !== READY">
      <div *ngIf="finalData">
        <h1 class="text-center">{{timeToString(finalData.time)}}</h1>
        <div *ngIf="finalData.name">
          <div>Name: {{finalData.name}}</div>
          <div>Grade: {{finalData.grade}}</div>
        </div>
        <div *ngIf="finalData.time && !finalData.name">
          <form class="form-group buffer" #studentForm="ngForm">
          <div><label for="runnerName">Name:</label> <input name="studentName" class="form-control" id="runnerName" required [(ngModel)]="name" /></div>
          <div>
            <label for="runnerGrade">Grade:</label>
            <select class="form-control" name="studentGrade" id="runnerGrade" required [(ngModel)]="grade">
              <option ></option>
              <option *ngFor="let gradeStr of watchState.grades" [value]="gradeStr">{{gradeStr}}</option>
            </select>
          </div>
          <div class="buffer-top">
            <button (click)="onSubmit()" [disabled]="!studentForm.form.valid" class="btn btn-info btn-block"><i class="fa fa-save" aria-hidden="true"></i> Save</button>
          </div>
          </form>
        </div>
      </div>
      <div *ngIf="!finalData" class="buffer">
        <h1 style="padding-left: 1rem">{{currentTime}}</h1>
        <button class="btn btn-info btn-lg btn-block" (click)="onStop()">
          <i class="fa fa-stop" aria-hidden="true"></i> Stop
        </button>
        <button class="buffer-top btn btn-warning btn-sm btn-block" (click)="onCancel()">
          <i class="fa fa-ban" aria-hidden="true"></i> Cancel
        </button>        
      </div>
    </div>
  </div>
</div>
